.containCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.containCard Button{
    margin-top: 1rem;
    width: 100%;
    height: 2rem;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.contenedorCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
    margin:1.5rem
    }