
.card-body{
    justify-content: space-between;
}
.card-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}
.card-subtitle{
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card-text{
    max-height: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
}
.contenedorPais{
    width:100%;
    display:flex;
    gap:0.8rem;
}
.card-actions{
    width:45%;
    height:25%
}
.card-actions button{
    background-color: #d94052;
}