
.containError{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containError button{
    background-color: transparent;
    border: 1px solid grey;
    color: black;
    font-size: 1.2rem;
}
.containError button:hover{
    background-color: rgb(110, 109, 109);
    color:  white;
    border: none;
}